<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parking</title>
    <link rel="icon" type="image/png" href="img/boat-icon.png"/>
    <link href="./style/main.css" rel="stylesheet">
</head>
<body>
    <div class="menu">
        <h1>Couch Captain</h1>
        <h1>Parking</h1>
        <a href="/index">Home</a>
    </div>

    <div id="canvas-target"></div>
    <p>Let me know what I should add: couchcaptain1@gmail.com</p>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.9.0/p5.min.js"></script>
    <script src="../js/bundles/parking.bundle.js"></script>

</body>
</html>